version: '2.1'
services:
  app:
    image: elixir_drip:${BUILD_TAG}
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - ./env/test.env
    working_dir: /opt/app/elixir_drip
    command: ["/bin/sh", "script/test.sh"]
    ports:
      - 4000:4000
    volumes:
      - ./test/reports:/opt/app/elixir_drip/test/reports
    depends_on:
      postgres:
        condition: service_healthy
  postgres:
    image: postgres:9.6
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "postgres", "-U", "postgres"]
      interval: 10s
      timeout: 3s
      retries: 10
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "123456"
      PSQL_TRUST_LOCALNET: 'true'
      ENCODING: UTF8
    networks:
      - default
    ports:
      - 5000:5432
