<div>
  <h2>Welcome to ElixirDrip, your amazing personal file server! </h2>
  <%= if assigns[:current_user] do %>
    <h2><%= link("Go to my files", to: file_path(@conn, :index)) %></h2>
  <% else %>
    <h2>Please login to access your files.</h2>
  <% end %>
</div>
